.drag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.is-dragging {
  background-color: rgba(15, 59, 155, 0.3) !important;
  border: 2px dashed rgb(15, 59, 155) !important;
}

.upload-icon {
  max-width: 15rem;
  margin: 2rem;
}

.file-input {
  display: none;
}

.file-input-label {
  width: 200px;
  height: 30px;
  border-radius: 2px;
  border: solid thin rgb(0, 126, 255);
  color: rgb(0, 126, 255);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.import-button {
  min-width: 200px !important;
}

.import-textarea {
  height: 25vh !important;
}
