.ehfErK {
  flex: 1 !important;
}

.sc-hBMUJo.fGzkjT,
.sc-hBMUJo.syKsX {
  flex: 1 !important;
}

.button {
  min-width: 200px !important;
  margin-left: 2rem;
}

.textarea {
  height: 50vh !important;
}
